<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notepadapps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ClickedYoutubeActivity"></activity>
        <activity android:name=".YoutubeUploadVideoActivity" />
        <activity android:name=".UploadVideoActivity" />
        <activity android:name=".WelcomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PhotoActivity" />
        <activity android:name=".ShowAdapter" />
        <activity android:name=".NotesActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".NotesDetailActivity" />
        <activity android:name=".PhotoAlbumActivity" />
        <activity android:name=".VideoAlbumActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".PhotosDetailActivity" />
        <activity android:name=".VideosDetailActivity" />
        <activity android:name=".YoutubeAlbumActivity" />
    </application>

</manifest>